* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    padding: 20px;
    font-size: 20px;
}

.header h1 {
color:#8cb369 ;
display: inline-block;
margin-left: 60px;
}

.header h1 .seo {
    color: #fae285;
}

.l{
    font-family: 'Fleur De Leah', cursive;
    font-size: 60px;
}
.seo{
    font-family: 'Great Vibes', cursive;  
}

.header div {
    padding-top: 15px;
    margin-right: 400px;
    float: right;
    font-size: 30px;
    margin-bottom: 20px;
    
}

.header div ul {
    list-style-type: none;
    
}

.header div ul li {
    display: inline-block;
    margin-left: 35px;
    font-family: 'Courgette', cursive;
  
    
}

a{
text-decoration: none;
color: #fae285;
margin-bottom: 20px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

body {
    background-image: url("../img/6.jpg");
    background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
}


img{
    border-radius: 75px;
    /* text-align: center; */
    border:solid 5px;
    /* flex: 112%; */
    margin: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

    .row{
       position: relative;
       display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
          
    }

    #form {
        border: 3px solid #11c21f;
        background-color: rgba(255, 225, 56, 0.8);
        padding: 10px;
        color: #024e76;
        width: 60%;
        margin: 1.5%;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      
    }
      
      .form-input {
          text-align: center;
        border: 1px solid #024e76;
        display: block;
        padding: 7px 15px;
        font-size: 30px;
        color: #024e76;
        width: 100%;
        margin-bottom: 5px; 
        border-radius: 10px;
        background-color: rgba(255,255,255, 0.75);
        font-family: 'Courgette', cursive;
      }

      #generate{
        border: 3px solid #11c21f;
        background-color: rgba(255, 225, 56, 0.8);
        padding: 10px;
        padding-bottom: 900px;
        color: #024e76;
        width: 100%;
        margin: 1.5%;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: 'Courgette', cursive;

      }
      .footer{
        margin:60px;
        text-align: center;
        color:#8cb369 ;
        font-family: 'Courgette', cursive;
    }
      

    @media screen and (max-width: 830px) {
        img{
        width: 550px;
        margin: 5px;

    }


    }